<div class="mt-4 chat-container" id="chat-container">
    <div class="container-fluid">
        <form class="d-flex" id="messageForm">

            <input class="form-control me-2" type="text" placeholder="Type message in here !" aria-label="Message"
                id="messageBox">
            <button class="btn btn-outline-success" id="sendMessageButton" type="submit">Gửi</button>
        </form>
    </div>
    <div class="messagePanel container-md">
        <p class="fs-3">Global: </p>
        <p class="fs-6">Message: </p>
        <ul class="message-list list-group list-group-flush">
            <li class="list-group-item"></li>
        </ul>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socketMessage.js"></script>