<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <div class="figure profile-img">
                <img src="{{userData.avatar}}" class="img-thumbnail " alt=" A generic square " width="220" height="220">
                <figcaption class="figure-caption">Avatar</figcaption>
            </div>
            <a href="#" class="btn btn-outline-info">Change Avatar</a>
        </div>
        <div class="col-lg-7">
            <h3 style="font-weight: bold;"> {{userData.userName}} </h3>
            <br>
            <h6 style="font-size: 18px">Username: {{userData.userName}} </h6>
            <h6 style="font-size: 18px">Email: {{userData.email}} </h6>
            <p>Info:</p>
            <p style="color: rgb(68, 1, 62); font-size: 16px; font-weight: bold;"> </p>
            <a href="#" class="btn btn-outline-secondary">Chỉnh sửa</a>
        </div>
    </div>
</div>