@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  font-family: "Montserrat", sans-serif;
  transition: 3s; }

body::-webkit-scrollbar {
  display: none; }

.login-container {
  margin-top: 10%;
  border: 1px solid #ccd1d1;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 50%; }

.ads {
  background-color: #a569bd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  padding: 15px;
  text-align: center; }

.ads h1 {
  margin-top: 20%; }

#fl {
  font-weight: 600; }

#sl {
  font-weight: 100 !important; }

.profile-img {
  text-align: center; }

.profile-img img {
  border: 1px solid rgba(155, 100, 255, 0.788);
  border-radius: 50%;
  /* animation: mymove 2s infinite; */ }

.navbar-username {
  font-size: 21px;
  text-align: center;
  color: #ff60f7;
  margin: auto 12px auto 3px; }

.avatar-msg {
  border: 1px solid rgba(2, 255, 200, 0.726);
  border-radius: 50%; }

.user-name-msg {
  margin: 4px 8px;
  font-weight: bold; }

.info-msg {
  margin: 4px 8px; }

.time-msg {
  opacity: 0.4; }

@keyframes mymove {
  from {
    border: 1px solid #f2f3f4; }
  to {
    border: 8px solid #f2f3f4; } }

.login-form {
  padding: 15px; }

.login-form h3 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px; }

.form-control {
  font-size: 14px; }

.forget-password a {
  font-weight: 500;
  text-decoration: none;
  font-size: 14px; }

.card-profile {
  margin: 15px auto 15px auto; }

.card {
  width: 18rem;
  height: 22rem;
  margin: auto; }

.profile-img {
  text-align: center;
  margin: 12px auto 3px auto;
  /* padding-top: 20px; */ }

.profile-img img {
  border: 1px solid rgba(155, 100, 255, 0.788);
  border-radius: 50%;
  width: 180px;
  height: 180px;
  /* animation: mymove 2s infinite; */ }

.profile-img-header {
  text-align: center;
  margin: auto 5px auto auto; }

.profile-img-header img {
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 100, 234, 0.7); }

.chat-box {
  background: #fff;
  width: 270px;
  height: 363px;
  position: fixed;
  bottom: 0px;
  right: 14px;
  border: none;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  z-index: 1000000;
  display: none; }

.pesan_chat {
  text-align: center;
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 5px 5px 15px; }

.chatheader {
  margin: 0 auto;
  padding: 0 10px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  display: block;
  cursor: pointer;
  background: #3a5897;
  cursor: move; }

.chatheader:before {
  content: "\f111";
  font-family: fontawesome;
  color: #42b72a;
  font-size: 12px;
  position: relative;
  top: -2px;
  margin: 5px; }

.pesan_chat p {
  color: #616161;
  font-size: 14px;
  margin: 10px;
  cursor: move; }

.close-chatfb {
  position: absolute;
  top: 0;
  right: 0;
  font-family: fontawesome;
  font-size: 15px;
  font-weight: inherit;
  cursor: pointer;
  width: 24px;
  color: #fff;
  height: 35px;
  line-height: 35px;
  text-align: center;
  opacity: 0.7; }

.close-chatfb:hover,
.maxi-chatfb:hover,
.mini-chatfb:hover {
  opacity: 1; }

.close-chatfb:before {
  content: "\f00d";
  font-family: fontawesome; }

.popup-on {
  display: block !important; }

.chatbox {
  border-radius: 12px 12px; }

.chatbox-form {
  position: absolute;
  bottom: 5px; }

.message-history {
  background-color: #eee;
  height: 80%;
  border: 1px solid rgba(122, 164, 255, 0.877);
  overflow-y: scroll;
  /* Add the ability to scroll */ }

/* Hide scrollbar for Chrome, Safari and Opera */
.message-history::-webkit-scrollbar {
  display: none; }

/* Hide scrollbar for IE, Edge and Firefox */
.message-history {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
